/*Esta parte comentei pois estava afetando todo o layout de toda a pagina{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background: #1c92d2;  
    background: -webkit-linear-gradient(to right, #f2fcfe, #1c92d2);  
    background: linear-gradient(to right, #f2fcfe, #1c92d2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ 
}
*/


body{
    background: rgb(242,242,245);
    background: linear-gradient(170deg, rgba(242,242,245,1) 0%, rgba(255,255,255,1) 14%, rgba(0,255,151,0.5847457627118644) 100%);
}

.barra_superior{
    box-sizing: border-box;
    border-bottom: 4mm ridge rgba(50, 220, 121, 0.6);
    margin-top: 0%;
    padding-top: 40px;
    font: bold 30pt Arial;
    width: 1908px;
    height: 120px;
    text-align:center;
    background: #3CA55C;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #87f1c5, #3CA55C);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #87f1c5, #3CA55C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

section#caixa{
        margin-left: 1%;
        border-radius: 10px;
        width: 300px;
        float: left;
}

section#texto_dinheiro{
    margin-left: 1%;
    border-radius: 10px;
    width: 300px;
    float: center;
    border: 1mm ridge black;
    text-align: center;
}

section#relatorio{
        border-radius: 10px;
        width: 400px;
        float: left;  
}

section#texto_relatorio1{
    margin-left: 1%;
    border-radius: 10px;
    width: 300px;
    float: center;
    border: 1mm ridge black;
    text-align: center;
}

section#prinex{
    margin-left: 48%;
    border-radius: 10px;
    width: 300px;
    float: center;
    border: 1mm ridge black;
    text-align: center; 
}

h1#titulo{
        font: normal 15pt Arial;
        color: black;
        text-align:center;
    
}

div#txt100{
        margin-left: 1%;
        border-radius: 0px;
        width: 300px;
        border: 0,10mm ridge black;
        text-align: center;
        background-color:#acd5e5;
        font-size: 15px;
        width: 90px;
        color: #000000;
        text-align: left;
        display: inline-block;
        text-shadow: 2px 2px 5px #000000;
}

div#txt50{
    margin-left: 1%;
    border-radius: 0px;
    width: 300px;
    border: 0,10mm ridge black;
    text-align: center;
    background-color:#dcb481;
    font-size: 15px;
    width: 90px;
    color: #000000;
    text-align: left;
    display: inline-block;
    text-shadow: 2px 2px 5px #000000;
}

div#txt20{
    
        font:  70pt;
        width: 90px;
        color: black;
        right: 800px;
        text-align: left; 
        display: inline-block;
}

div#txt10{
        font:  70pt;
        width: 90px;
        color: black;
        right: 800px;
        text-align: left; 
        display: inline-block; 
}

div#txt5{
        font:  70pt;
        width: 90px;
        color: black;
        right: 800px;
        text-align: left; 
        display: inline-block;   
   }

div#txt2{
        font:  70pt;
        width: 90px;
        color: black;
        right: 800px;
        text-align: left; 
        display: inline-block;   
    }
    div#txt1{
        font:  70pt;
        width: 90px;
        color: black;
        right: 800px;
        text-align: left; 
        display: inline-block;   
    }
    div#txt050{
        font:  70pt;
        width: 90px;
        color: rgb(0, 0, 0);
        right: 800px;
        text-align: left; 
        display: inline-block;   
    }
    div#txt025{
        font:  70pt;
        width: 90px;
        color: rgb(0, 0, 0);
        right: 800px;
        text-align: left; 
        display: inline-block;   
    }
    div#txt010{
        font:  70pt;
        width: 90px;
        color: rgb(0, 0, 0);
        right: 800px;
        text-align: left; 
        display: inline-block;   
    }
    div#txt005{
        font:  70pt;
        width: 90px;
        color: rgb(0, 0, 0);
        right: 800px;
        text-align: left; 
        display: inline-block;   
    }
    input#nota100{
        width: 60px;
        color: black;
        right: 800px;
        position: left;
        top: 20px;
        text-transform: uppercase;
        text-align: center;  
        display: inline-block;   
    }
    input#nota50{
        width: 60px;
        color: black;
        right: 800px;
        position: left;
        top: 20px;
        text-transform: uppercase;
        text-align: center;  
        display: inline-block;  
    }
    input#nota20{
        width: 60px;
        color: black;
        right: 800px;
        position: left;
        top: 20px;
        text-transform: uppercase;
        text-align: center;  
        display: inline-block;   
    }
    input#nota10{
        width: 60px;
        color: black;
        right: 800px;
        position: left;
        top: 20px;
        text-transform: uppercase;
        text-align: center;  
        display: inline-block;  
    } 
    input#nota5{
        width: 60px;
        color: black;
        right: 800px;
        position: left;
        top: 20px;
        text-transform: uppercase;
        text-align: center;  
        display: inline-block;   
    }
    input#nota2{
        width: 60px;
        color: black;
        right: 800px;
        position: left;
        top: 20px;
        text-transform: uppercase;
        text-align: center;  
        display: inline-block;   
    }
    input#moeda1{
        width: 60px;
        color: black;
        right: 800px;
        position: left;
        top: 20px;
        text-transform: uppercase;
        text-align: center;  
        display: inline-block;   
    }
    input#moeda050{
        width: 60px;
        color: black;
        right: 800px;
        position: left;
        top: 20px;
        text-transform: uppercase;
        text-align: center;  
        display: inline-block;   
    }
    input#moeda025{
        width: 60px;
        color: black;
        right: 800px;
        position: left;
        top: 20px;
        text-transform: uppercase;
        text-align: center;  
        display: inline-block;   
    }
    input#moeda010{
        width: 60px;
        color: black;
        right: 800px;
        position: left;
        top: 20px;
        text-transform: uppercase;
        text-align: center;  
        display: inline-block;   
    }
    input#moeda005{
        width: 60px;
        color: black;
        right: 800px;
        position: left;
        top: 20px;
        text-transform: uppercase;
        text-align: center;  
        display: inline-block;
           
    }
    div#txtRelatorio{
        font-size: 20px;
        text-align: center;
        float: center;
        
    }
    div#txt2100{
        font:  70pt;
        width: 90px;
        color: black;
        right: 800px;
        text-align: left;
        display: inline-block;
    }
    div#txt250{
        font:  70pt;
        width: 90px;
        color: black;
        right: 800px;
        text-align: left; 
        display: inline-block;
    }
    div#txt220{
        font:  70pt;
        width: 90px;
        color: black;
        right: 800px;
        text-align: left; 
        display: inline-block;
    }
    div#txt210{
        font:  70pt;
        width: 90px;
        color: black;
        right: 800px;
        text-align: left; 
        display: inline-block; 
    }
    div#txt25{
        font:  70pt;
        width: 90px;
        color: black;
        right: 800px;
        text-align: left; 
        display: inline-block;   
    }
    div#txt22{
        font:  70pt;
        width: 90px;
        color: black;
        right: 800px;
        text-align: left; 
        display: inline-block;   
    }
    div#txt21{
        font:  70pt;
        width: 90px;
        color:black;
        right: 800px;
        text-align: left; 
        display: inline-block;   
    }
    div#txt2050{
        font:  70pt;
        width: 90px;
        color: rgb(0, 0, 0);
        right: 800px;
        text-align: left; 
        display: inline-block;   
    }
    div#txt2025{
        font:  70pt;
        width: 90px;
        color: rgb(0, 0, 0);
        right: 800px;
        text-align: left; 
        display: inline-block;   
    }
    div#txt2010{
        font:  70pt;
        width: 90px;
        color: rgb(0, 0, 0);
        right: 800px;
        text-align: left; 
        display: inline-block;   
    }
    div#txt2005{
        font:  70pt;
        width: 90px;
        color: rgb(0, 0, 0);
        right: 800px;
        text-align: left; 
        display: inline-block;   
    }
    input#nota2100{
        width: 60px;
        color: black;
        right: 800px;
        position: left;
        top: 20px;
        text-transform: uppercase;
        text-align: center;  
        display: inline-block;   
    }
    input#nota250{
        width: 60px;
        color: black;
        right: 800px;
        position: left;
        top: 20px;
        text-transform: uppercase;
        text-align: center;  
        display: inline-block;  
    }
    input#nota220{
        width: 60px;
        color: black;
        right: 800px;
        position: left;
        top: 20px;
        text-transform: uppercase;
        text-align: center;  
        display: inline-block;   
    }
    input#nota210{
        width: 60px;
        color: black;
        right: 800px;
        position: left;
        top: 20px;
        text-transform: uppercase;
        text-align: center;  
        display: inline-block;  
    } 
    input#nota25{
        width: 60px;
        color: black;
        right: 800px;
        position: left;
        top: 20px;
        text-transform: uppercase;
        text-align: center;  
        display: inline-block;   
    }
    input#nota22{
        width: 60px;
        color: black;
        right: 800px;
        position: left;
        top: 20px;
        text-transform: uppercase;
        text-align: center;  
        display: inline-block;   
    }
    input#moeda21{
        width: 60px;
        color: black;
        right: 800px;
        position: left;
        top: 20px;
        text-transform: uppercase;
        text-align: center;  
        display: inline-block;   
    }
    input#moeda2050{
        width: 60px;
        color: black;
        right: 800px;
        position: left;
        top: 20px;
        text-transform: uppercase;
        text-align: center;  
        display: inline-block;   
    }
    input#moeda2025{
        width: 60px;
        color: black;
        right: 800px;
        position: left;
        top: 20px;
        text-transform: uppercase;
        text-align: center;  
        display: inline-block;   
    }
    input#moeda2010{
        width: 60px;
        color: black;
        right: 800px;
        position: left;
        top: 20px;
        text-transform: uppercase;
        text-align: center;  
        display: inline-block;   
    }
    input#moeda2005{
        width: 60px;
        color: black;
        right: 800px;
        position: left;
        top: 20px;
        text-transform: uppercase;
        text-align: center;  
        display: inline-block;
           
    }
    div#prinextxt{
        font:  70pt;
        width: 90px;
        color: black;
        right: 800px;
        text-align: center;
        display: inline-block;
    }
    input#prinex1{
        width: 85px;
        color: black;
        right: 800px;
        position: center;
        top: 20px;
        text-transform: uppercase;
        text-align: center;  
        display: inline-block;
           
    }
    input#prinex2{
        width: 85px;
        color: black;
        right: 800px;
        position: center;
        top: 20px;
        text-transform: uppercase;
        text-align: center;  
        display: inline-block;
           
    }
    input#prinex2{
        width: 85px;
        color: black;
        right: 800px;
        position: center;
        top: 20px;
        text-transform: uppercase;
        text-align: center;  
        display: inline-block;
           
    }
    input#prinex3{
        width: 85px;
        color: black;
        right: 800px;
        position: center;
        top: 20px;
        text-transform: uppercase;
        text-align: center;  
        display: inline-block;
           
    }
    input#prinex4{
        width: 85px;
        color: black;
        right: 800px;
        position: center;
        top: 20px;
        text-transform: uppercase;
        text-align: center;  
        display: inline-block;
           
    }
    input#prinex5{
        width: 85px;
        color: black;
        right: 800px;
        position: center;
        top: 20px;
        text-transform: uppercase;
        text-align: center;  
        display: inline-block;
           
    }

.btn_calc{
    margin-top: 17%;
}

/*hide the inputs/checkmarks and submenu*/
input, ul.submenu {
    display: none;
    

  }
  
  /*position the label*/
  label {
    font-size: 15px;
    position: relative;
    display: block;
    cursor: pointer;
  }
  
  /*show the submenu when input is checked*/
  input:checked~ul.submenu {
    display: flex;
    
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    background: fff;
    border-radius: 30%;
    margin: 5px;
    padding: 5px;
    width: 40%;
  }