@charset "UTF-8";

body{
  background-color: rgba(206, 69, 230, 0.46);
}

h1{
  text-align: center;
}

p{
  text-decoration: underline;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.box div {
  width: 100px;
  height: 100px;
}

div#formulario{
  text-align: center;
  width: 250px;
  height: 330px;
  background-color: aqua;
  align-items: center;
  border-radius: 15px;
}

fieldset{
  border-radius: 15px;
}
