@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body{
  background-color: #ffffff;
}

h1{
  padding-bottom: 5%;
  text-align: center;
  font-family: 'Cabin', sans-serif;
}

p{
  text-decoration: underline;
  font-family: 'Varela Round', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.box div {
  width: 100px;
  height: 100px;
}

div#formulario{
  text-align: center;
  width: 250px;
  height: 330px;
  align-items: center;
  border-radius: 15px;
  opacity: 90%;
  background-color: #69f0ae;
  box-shadow: 5px 5px 5px grey;
  padding-top: 50px;
}
.t_login{
  margin-top: 2px;
}

input{
  margin-top: 10px;
  border-radius: 5px;
}

input#usuario:focus, input#senha:focus{
  background: #b2ebf2;
  border-radius: 15px;
}

.btn{
  background-color: rgba(54, 116, 187, 0.49);
  border: none;
  color: white;
  padding: 12px 48px;
  text-decoration: none;
  width: 40%;
  display: inline-block;
  font-size: 18px;
  border-radius: 8px;
  font-weight: bold;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  transition-duration: 0.4s;
}

.btn:hover{
  background-color: #1976d2;
  box-shadow: 5px 5px 5px grey;
}
